body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: whitesmoke; */
}
/* #2F3B69 #38B6FF */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

/* Styles for the error message */
p.error {
  color: red;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}
.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard .header {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}
.dashboard .header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px ;
}
.dashboard  nav .logo {
  width: 400px;
  height: 60px
}
.dashboard  nav .nav-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  gap: 50px;
}
.dashboard  nav .nav-home a{
  
  text-decoration: none;
  font-weight: bold;
  padding: 7px 15px;
  background-color: #38B6FF;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
}
.dashboard  nav .nav-home button {
  text-decoration: none;
  font-weight: bold;
  padding: 7px 15px;
  background-color: #38B6FF;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}
.dashboard  nav .nav-home a:hover {
  background-color: #1c87d9;
}
.dashboard .dashboard-tabs {
  margin-top: 95px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  position: fixed;
  width: 100%;
}
.dashboard .dashboard-tabs .search-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.dashboard .dashboard-tabs .search-tab .no-users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.dashboard .dashboard-tabs .search-tab .no-users p:first-child{
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.dashboard .dashboard-tabs .search-tab .no-users p:last-child {
  font-weight: 700;
  font-size: 18px;
}
.dashboard .dashboard-tabs .search-tab input {
  border-radius: 5px;
  height: 4vh;
  outline: none;
  border: none;
  width: 250px;
}
.dashboard .middle-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.dashboard .middle-tabs select {
  padding: 3px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 150px; 
  background-color: #fff; 
}


.dashboard .middle-tabs option {
  font-size: 16px; 
  padding: 5px; 
}


.dashboard .middle-tabs option:first-child {
  font-style: italic;
  color: #999; 
}


.dashboard .middle-tabs select:focus {
  outline: none; 
  border-color: #007bff; 
}

.dashboard .middle-tabs .button-tabs {
  display: flex;
  justify-content: center;
 align-items: center;
 text-align: center;
}
.dashboard .middle-tabs .button-tabs a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 5px;
  border-radius: 3px;
}
.dashboard .middle-tabs .button-tabs a:hover {
  background-color: #38b6ff;
  color: #ffffff;
}
.dashboard .middle-tabs .button-tabs .upload-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dashboard .middle-tabs .dropzone {
  border: none;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 5px 10px;
}
.dashboard .middle-tabs button {
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  background-color: whitesmoke;
}
.dashboard .middle-tabs button:hover{
  background-color: #38B6FF;
}
.dashboard .middle-tabs .button-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.dashboard .dashboard-tabs .add-user .add-icon {
  border-radius: 50%;
  border: 3px solid #38B6FF;
  padding:1px 2px;
}
.dashboard .dashboard-tabs .add-user{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}
.dashboard .dashboard-tabs .add-user .add-text p{
  font-weight: 700;
  font-size: 18px;
}
.dashboard .users-table {
  margin-top: 190px;
  padding: 20px;
  overflow: auto;
}
.dashboard .users-table table{
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  overflow: auto ;
}

.dashboard .users-table thead {
  background-color:#F1EFEF; 
}

.dashboard .users-table th, 
.dashboard .users-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.dashboard .users-table td:first-child{
  border-left: none;
}

.dashboard .users-table tr:hover {
  background-color: #f9f9f9;
}
.dashboard .users-table td button {
  background-color: #38b6ff;
  color: #ffffff;
  padding: 6px 12px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 18px;
}
.dashboard .users-table td button:hover{
  background-color: #1c87d9;
}
.dashboard .users-table input[type="checkbox"].confirm-check {
  width: 20px;
  height: 20px;
  outline: none;
  border: 0.8px solid #1c87d9;
}

/* modal css */

.dashboard .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  height: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.dashboard .close-button {
  background: #f74949;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
}
.dashboard .close-button:hover {
  background-color: #fb0606;
}
.dashboard .modal form {
  display: flex;
  flex-direction: column;
}
.dashboard .modal-content form input,
.dashboard .modal-content form select {
  outline: none;
  border: 0.8px solid #1c87d9;
  height: 3.5vh;
}
.dashboard .modal-content form input[type="checkbox"] {
  height: 22px;
}
.dashboard .modal-content form textarea{
  resize: vertical;
  outline: none;
  border: 0.8px solid #1c87d9;
  height: 3.5vh;
}

.dashboard .modal-content form .checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 20px 
}
.dashboard .modal-content form label {
  font-size: 15px;
  font-weight: 500;
}
.dashboard .modal-content form .modal-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .modal-content form .modal-button button {
  background-color: #38B6FF;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 3px;
}
.dashboard .modal-content form .modal-button button:hover {
  background-color: #1c87d9;
}
.dashboard .modal-content form span{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5e5e;
  font-size: 12px;
 }
 

 @media (max-width: 768px) {
  .dashboard .header{
    margin: 0;
  }
  .dashboard .header nav{
    margin: 0;
    padding: 5px;
    /* gap: 30px; */
  }
  .dashboard  nav .logo {
    width: 250px;
    height: 50px
  }
  .dashboard  nav .nav-home {
    margin-right: 22px;
    gap: 20px;
  }
  .dashboard .dashboard-tabs{
    margin-top: 70px;
    padding: 3px;
  }
  .dashboard .dashboard-tabs .search-tab{
    margin-left: 10px;
    gap: 8px;
  }
  .dashboard .dashboard-tabs .search-tab .no-users{
    gap: 0.2px;
  }
  .dashboard .users-table table {
    overflow: auto;
  max-height: 80vh;
  }
  .dashboard .dashboard-tabs .search-tab .no-users p:first-child{
    padding: 2px;
  }
  .dashboard .dashboard-tabs .search-tab .no-users p:last-child{
    font-size: 15px;
    font-weight: 500;
  }
  .dashboard .dashboard-tabs .search-tab input {
    width: 100px;
    height: 3vh;
  }
  .dashboard .middle-tabs button{
    padding: 4px 7px;
  }
  .dashboard .dashboard-tabs .add-user .add-icon {
    border: 2px solid #38B6FF;
  }
  .dashboard .dashboard-tabs .add-user{
    gap: 1px;
  }
  .dashboard .dashboard-tabs .add-user .add-text p{
    font-size: 15px;
    font-weight: 500;
  }
  .dashboard .users-table{
    margin-top: 150px;
    padding: 1px;
  }
  .dashboard .users-table th {
    font-size: 15px;
  }
  .dashboard .users-table td button{
    padding: 4px 8px;
  }
  .dashboard .users-table td{
    font-size: 14px;
  }
  .dashboard .users-table th, 
.dashboard .users-table td {
  padding: 5px;
}
  .dashboard .modal-content {
    max-width: 300px;
    border-radius: 5px;
  }
  .dropdown-menu {
    top: 128px;
  }
  
}
.dropdown-bar {
  display: none;
}


/* //dropdown menu  */
@media screen and (max-width: 1138px) {
  .dropdown-bar {
    display: none;
  }
 
}
@media (min-width: 768px) and (max-width: 1138px) {
  .dropdown-menu {
    top: 160px;
  }
}
@media screen and (max-width: 1138px) {
  /* .dropdown-bar {
    display: none !important;
  } */

  .dropdown-bar {
    display: block;
    background-color: #38b6ff; 
    color: #fff;
    padding: 5px 10px; 
    right: 50px;
    margin-right: 30px;
    cursor: pointer; 
    border-radius: 3px; 
    transition: background-color 0.3s; 
    text-align: center; 
  }
  .dropdown-bar:hover {
    background-color: #1c87d9; 
  }
  .dropdown-menu {
    position: fixed;
   
    right: 20px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 10px;
    z-index: 1; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 200px; 
  }
  .dashboard .middle-tabs{
    display: none;
  }
  .dropdown-menu .menu-tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .dropdown-menu .menu-tabs a {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s; 
    cursor: pointer;
    padding: 1px 6px;
    color: black; 
    background-color: lightgray;
    border-radius: 2px;
  }
  
  .dropdown-menu .menu-tabs a:hover {
    color: white; 
    background-color: #38b6ff;
  }
  
  
  .dropdown-menu .menu-tabs button, .menu-tabs p {
    background: lightgray; 
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
  }
  
  .dropdown-menu .menu-tabs button:hover, .menu-tabs p:hover {
    background: #38b6ff; 
    color: white;
  }
  
  .dropdown-menu input[type="file"] + button {
    background: lightgray;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
  }
  
  .dropdown-menu input[type="file"] + button:hover {
    background: #38b6ff;
    color: white;
  }

  .dropdown-menu select {
    padding: 3px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 180px; 
    background-color: #fff; 
    align-items: center;
    text-align: center;
  }
  
  
  .dropdown-menu option {
    font-size: 16px; 
    padding: 5px; 
  }
  
  
  .dropdown-menu option:first-child {
    font-style: italic;
    color: #999; 
  }
  
  
  .dropdown-menu select:focus {
    outline: none; 
    /* border-color: #007bff;  */
  }

}

/* .dropdown-menu{
  display: none;
}  */





/* register component css */
.register {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
 
}
.register .header  {
  /* display: flex;
  width: 100%;
  background-color: whitesmoke;
  height: 60px;
  position: fixed; */
  display: none;
}
.register .header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.25);
}
.register .header nav a {
  color: black;
  text-decoration: none;
}
.register .header nav h1{
  font-size: 20px;
}
.register .header nav .logo-image {
  width: 300px;
  height: 60px;
}
.register .register-form {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.register .register-form form{
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  margin-bottom: 30px;
  border-radius: 5px;
}
.register .register-form form .form-header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 10px 130px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.register .register-form form .form-elements {
  padding: 10px 130px;
}
.register .register-form form .form-header h1 {
  font-size: 22px;
}
.register .register-form form input[type="text"],
.register .register-form form input[type="email"],
.register .register-form form input[type="tel"]
,.register .register-form form select {
  height: 3.5vh;
  width: 100%;
  /* border-radius: 5px; */
  border: 1px solid #38b6ff;
  outline: none;
  margin-top: 10px;
}
.register .register-form form textarea {
  resize: vertical;
  height: 3.5vh;
  width: 100%;
  border: 1px solid #38b6ff;
  outline: none;
  margin-top: 10px;
}
.register .register-form form input[type="checkbox"] {
  border: 1px solid #38b6ff;
  outline: none;
  margin-top: 10px;
  border-radius: 3px;
  padding: 10px;
}
.register-form input:focus,
.register-form select:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 5px #38B6FF;
}
.register .register-form form label {
  margin-top: 4px;
}


/* .register .register-form form .select-checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.register .register-form form .checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 20px 
}
.register .register-form form .checkbox-label input {
  transform: scale(1.4);
}

.register .register-form form .checkbox-label input[type='checkbox'] {
  margin-right: 10px;
  z-index: 0;
}
.register .register-form form .register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
}
.register .register-form form button {
  margin-top: 10px;
  border-radius: 3px;
  background-color: #38b6ff;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
.register .register-form form button:hover {
  background-color: #1c87d9;
}
.register .register-form form button:active {
  transform: translateY(2px);
}
.register .register-form form span{
 display: flex;
 justify-content: center;
 align-items: center;
 color: #ff5e5e;
 font-size: 12px;
}
.register-form form .form-elements label {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.register-form form .form-elements label span {
  font-size: 20px;
  font-weight: 700;
}
.required-asterisk {
  color: red;
  margin-left: 2px;
}

.required-label::after {
  content: "*";
  color: red;
  font-size: 20px;
}
@media screen and (max-width:768px){
  .register{
    padding: 10px;
  }
  .register .header{
    display: none;
  }
  .register .register-form {
    margin-top: 0;
  }
  .register .register-form form .form-header{
    padding: 2px 10px;
  }
  .register .register-form form .form-header h1{
    font-size: 16px;
    font-weight: 700;
  }
  .register .register-form form .form-elements {
    padding: 2px 10px;
  }
  .register .register-form form input[type="text"],
.register .register-form form input[type="email"],
.register .register-form form input[type="tel"]
,.register .register-form form select {
  border-radius: 3px;
}
}
/* login css */
.login-body .header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-body .logo-image {
  max-width: 400px;
  height: 60px;
}


.login-body .login-body {
  padding-top: 60px; 
  padding: 20px;
}

.login-body .login {
  margin: 100px auto 0px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
}

.login-body .login h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-body .login label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

.login-body .login input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #38b6ff;
  margin-bottom: 10px;
  outline: none;
}
.login-body .login input:focus{
  box-shadow: 0 0 5px #38B6FF;
}

.login-body .login button {
  padding: 10px 20px;
  background-color: #38B6FF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.login-body .login button:hover {
  background-color: #1c87d9;
}

@media (max-width: 768px) {
  .login-body .login{
    max-width: 300px;
    padding: 20px;
  }
}
.home .home-header .profile{
  /* margin: 10px; */
  border-radius: 3px;
  background-color: gray;
  color: black;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Style for the dropdown button */







/* home page css */
.home {
  display: flex;
  flex-direction: column;
  
  /* background-color: whitesmoke; */
}
.home .home-detail {
  width: 100%;
}
.home .home-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  animation: fadeIn 1s ease-in-out;
  width: 100%;
  position: fixed;
}
.home .home-header nav .logo-image{
  height: 60px;
  width: 350px;
}
/* CSS for styling the links */
.home .home-header nav .links {
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 10px;
  background-color: #f0f0f0; */
}

.home .home-header nav .links .bigscreen a ,
.home .home-header nav .links .bigscreen button
{
  text-decoration: none;
  color: #ffffff;
  padding: 6px 10px;
  margin: 0 10px;
  background-color: #38b6ff;
  border-radius: 3px;
}
.home .home-header nav .links .bigscreen button{
  outline: none;
  border: none;
  cursor: pointer;
}

.home .home-header nav .links .bigscreen a:hover,
.home .home-header nav .links .bigscreen button:hover
 {
  background-color: #1c87d9;
  color: #fff;
}
.home .home-content {
  margin-top: 80px;
}
.home .home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out;
}
.home .home-info h1{
  font-size: 25px;
  font-weight:450;
}
.home .home-info .home-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
 
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home .home-info p{
  padding: 20px;
  color: black;
  background-color: whitesmoke;
  border: 1px solid #ccc;
  line-height: 1.8;
  font-size: 18px;
  animation: fadeIn 1.5s ease-in-out;
  font-weight: 500;
}
.home .home-info-text p {
  margin-bottom: 20px;
}
.home .home-info-text p:hover {
  background-color: white; 
  transition: background-color 0.3s ease; 
}
.home .event-header{
  margin-top: 70px;
  
}
.home .event-header h2{
  margin-left: 40px;
  font-size: 20px;
  color: #38B6FF;
  animation: fadeIn 1.8s ease-in-out;
}
.home .event-info {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  animation: fadeIn 2s ease-in-out;
}
.home .event-info p {
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.home .event-info .event-date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-left: 30px;
}
.home .event-info .register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}
.home .event-info .register-button button{
  padding: 18px 15px;
  background-color: #38b6ff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 3px;
}

.home .event-info .register-button button:hover {
  background-color: #1c87d9;
}
/* .home .links .dropdown {
  display: none;
} */
.home .bigscreen{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  align-items: center;
}
.dropdown {
  top: 10px;
  right: 20px;
  cursor:grab;
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-weight: 700;
  padding: 6px 10px;
  background-color: #38b6ff;
  border-radius: 3px;
  color: #ffffff;
}
.dropdown-content{
  display: none;
}
@media screen and (max-width:800px) {
  .dropdown-content  {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: lightgray;
    color: black;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 10px;
    z-index: 999;
    border: 0.1px solid grey;
    margin-right: 30px;
  } 
}


.dropdown-content a {
color: black;
text-decoration: none;
display: block;
cursor: pointer;
margin-bottom: 3px;
font-size: 16px;
/* border-bottom: 1px solid black; */
/* background-color:lightgray ; */
}
.dropdown-content a:hover{
  color: white;
}
.dropdown-content .profile{
  background-color: white;
}
.dropdown-content button {
  border: none;
  margin-bottom: 3px;
  /* padding: 5px 16px;  */
   background-color: lightgray;
  color: black;
  /* font-weight: 700; */
  font-size: 16px;
  border-bottom: 1px solid black;
}
.dropdown-content button:last-child {
  border: none;
}
.dropdown-content button:hover {
  color: white;
  background-color: #38b6ff;
}
.dropdown-content .profile-icon {
  margin-bottom: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
  color: black;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .dropdown-content .profile-icon:hover{
  background-color: lightgray;
} */


/* .dropdown-content a:hover {
background-color: grey;
} */

@media screen and (min-width:800px) {
  .dropdown {
    display: none !important;
  }
}
@media screen and (max-width:800px) {
 
  .home .bigscreen{
    display: none;
  }
  .home .home-header nav{
    padding: 5px;
  }
  .home .home-header nav .logo-image{
    width: 250px;
  }
  .home .home-info h1{
    font-size: 20px;
    font-weight:450;
  }
  .home .home-info .home-info-text{
    margin: 0 8px;
  }
  .home .home-info p{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  .home .home-info-text p {
    margin-bottom: 5px;
  }
  .home .event-header h2{
    margin-left: 20px;
    font-size: 18px;
  }
  .home .event-info p{
    font-weight: 600;
    font-size: 13px;
  }
  .home .event-info .event-date{
    gap: 8px;
    margin-left: 10px;
  }
  .home .event-info .register-button{
    margin-right: 10px;
  }
  .home .event-info .register-button button{
    padding: 8px 7px;
  }

/* Style for the profile section */
.profile {
  margin-top: 10px;
}

.profile h3 {
  margin: 0;
}

.profile span {
  font-size: small;
  font-weight: 700;
}

/* Style for the logout button */
  /* .links .dropdown-content button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    display: block;
    text-align: left;
    background-color: white;
  } */
  

  
}
/* registration feedback css */

.submit-message {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.submit-message .feedback-message {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: fadeIn 1s forwards;
}
.submit-message .feedback-message h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
  color: #38b6ff;
}
.submit-message .feedback-message p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .submit-message{
    margin-top: 50px;
    height: auto;
  }
  .submit-message .feedback-message{
    width: 90%;
    padding: 10px;
  }
  .submit-message .feedback-message h1 {
    font-size: 20px;
    margin: 0;
  }
  .submit-message .feedback-message p{
    line-height: none;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
  }
}

/* admin page css */
.admin-page {
  display: flex;
  flex-direction: column;
}
/* Style for the header */
.admin-page .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: white;
  top: 0;
  /* margin-bottom: 100px; */
}
.admin-page .header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 
}
/* .admin-page .home-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.admin-page .header-logo .logo-image {
  max-width: 400px;
  height: 60Px;
}
.admin-page .links .bigscreen{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}
.admin-page .header .profile{
  /* margin: 10px; */
  border-radius: 3px;
  background-color: gray;
  color: black;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-page .header nav  .links {
  display: flex;
  align-items: center;
}
/* .admin-page .header nav  .links .dropdown {
  display: flex;
  align-items: center;
} */
.admin-page .links .bigscreen .profile {
  margin-left: 20px;
}
.admin-page .links .bigscreen button,
.admin-page .links .bigscreen a {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  /* background-color: #38b6ff; */
  /* color: #ffffff; */
  color: black;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
}


.admin-page .links .bigscreen {
  margin-left: 20px;
}


/* .home-detail {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
} */

.home-detail label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.home-detail textarea,
.home-detail input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home-detail button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.home-detail button:hover {
  background-color: #0056b3;
}

.home-detail button:active {
  background-color: #004080;
}

.admin-page .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-page .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.admin-page .close-button {
  background: #f74949;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
}
.admin-page .close-button:hover {
  background-color: #fb0606;
}
.admin-page .modal form {
  display: flex;
  flex-direction: column;
}
.admin-page .modal-content form input {
  margin-top: 5px;
  outline: none;
  border: 0.8px solid #1c87d9;
  height: 3.5vh;
}
.admin-page .modal-content form textarea {
  margin-top: 5px;
  outline: none;
  border: 0.8px solid #1c87d9;
}

.admin-page .modal-content form label {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}
.admin-page .modal-content form .modal-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-page .modal-content form .modal-button button {
  background-color: #38B6FF;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 3px;
}
.admin-page .modal-content form .modal-button button:hover {
  background-color: #1c87d9;
}

/* Style for the admin table */
.admin-page .table-data {
 margin-top: 100px;
}
.admin-table {
 display: flex;
 flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
}

.admin-table h2 {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-table table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.admin-table th, .admin-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.admin-table th {
  font-weight: bold;
  text-align: left;
}

.admin-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-table tbody tr:hover {
  background-color: #e0e0e0;
}

.admin-table button {
  padding: 5px 10px;
  background-color: #38b6ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.admin-table button:hover {
  background-color: #1c87d9;
}

@media (max-width: 768px){
  .admin-page{
    margin: 0;
  }
  .admin-page .header{
    padding: 5px;
  }
  .admin-page .nav-logo img.logo{
    max-width: 180px;
    height: 50px;
  }
  .admin-page .links .bigscreen{
    display: none;
  }
  .admin-page .nav-home button,
.admin-page .nav-home a {
  padding: 4px 8px;
}
.admin-page .nav-home button:last-child,
.admin-page .nav-home a:last-child {
  margin-left: 10px;
}

.admin-table {
  padding: 7px;
}
/* .admin-page .table-organiser {
  display: flex;
  justify-content: center;
  width: 90%;
  overflow-x: auto;
} */
/* .admin-table table{
  padding: 0px;
  margin: 0;
} */
.admin-table h2 {
  font-size: 20px;
  font-weight: 500;
}
.admin-table button{
  padding: 4px 8px;
}
.admin-table th, .admin-table td{
  padding: 5px;
}
.admin-table th {
  font-weight: 500;
}
.admin-table tbody tr:hover {
  background-color: none;
}
.admin-page .modal-content {
  padding: 10px;
  max-width: 300px;
}
.admin-page .close-button {
  padding: 3px 8px;
}
.admin-page .modal-content form input {
  height: 3vh;
  border-radius: 3px;
}
.admin-page .modal-content form textarea {
  border-radius: 3px;
}
.admin-page .modal-content form .modal-button button {
  padding: 5px 10px;
}
}

/* confirm page css */
.confirm-page {
  display: flex;
  flex-direction: column;
}

.confirm-page .header {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}
.confirm-page .header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px ;
}
.confirm-page  nav .logo {
  width: 400px;
  height: 60px
}

.confirm-content {
  display: flex;
  flex-direction: column;
  margin-top: 95px;
  text-align: center;
}

.confirm-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}

.confirm-content .confirm-form {
 text-align: center;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

}

.confirm-content label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

.confirm-content input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
}

.confirm-content .confirm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-content button {
  display: block;
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
 
}

.confirm-content button:hover {
  background-color: #0056b3;
}
.confirm-content #message {
  color: red;
  font-size: 16px;
}
/* .confirm-content .QrReader {
  margin-top: 20px;
}

.confirm-content p {
  margin-top: 10px;
  font-weight: bold;
  color: #007bff;
}


.confirm-form > div {
  transition: opacity 0.5s, transform 0.5s;
}

.confirm-form > div.enter {
  opacity: 1;
  transform: translateX(0);
}

.confirm-form > div.exit {
  opacity: 0;
  transform: translateX(-20px);
} */


.data-page {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

.data-page .data-text {
  margin-bottom: 20px;
}

.data-page .data-text h1 {
  font-size: 24px;
  color: #007bff;
}

.data-page .data-code {
  margin-bottom: 20px;
  max-width: 700px;
  width: 100%;
}

.data-page .data-code svg {
  width: 100%;
}

.data-page .button-container {
  text-align: center;
}

.data-page button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.data-page button:hover {
  background-color: #0056b3;
}

@media print {
  .data-page .data-text {
    display: none;
  }
  .data-page .data-page, .data-page * {
      display: block;
  }

  .data-page .button-container {
      display: none;
  }
}

/* registration form  */
.registration-page {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.registration-page h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}


.registration-page form {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-page label {
  margin: 10px 0;
  font-weight: bold;
  color: #555;
}

.registration-page input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


.registration-page button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.registration-page button:hover {
  background-color: #0056b3;
}


.registration-page p {
  margin-top: 10px;
  color: #ff5722;
}


.registration-page input[type="email"],
.registration-page button {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.registration-page input[type="email"]:focus,
.registration-page button:focus {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-container .header {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}
.upload-container .header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px ;
}
.upload-container  nav .logo {
  width: 400px;
  height: 60px
}
.upload-container  nav a {
  text-decoration: none;
  color: white;
}
.upload-container  nav button {
  background-color: #38b6ff;
  outline: none;
  border: none;
  padding: 5px 13px;
  border-radius: 3px;
}
.upload-container  nav button:hover {
  background-color: #007bff;
}
.upload-container .file-container {
  margin-top: 95px;
}
.upload-container .current-file, .upload-file{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.upload-container .upload-button,
.current-file button {
  background-color: #38b6ff;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 3x;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-container .upload-button:hover,
.current-file button:hover {
  background-color: #007bff;
}
