body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: whitesmoke; */
}
/* #2F3B69 #38B6FF */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

/* Styles for the error message */
p.error {
  color: red;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}
.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard .header {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}
.dashboard .header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px ;
}
.dashboard  nav .logo {
  width: 400px;
  height: 60px
}
.dashboard  nav .nav-home {
  margin-right: 50px;
}
.dashboard  nav .nav-home a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 7px 15px;
  background-color: #38B6FF;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
}
.dashboard  nav .nav-home a:hover {
  background-color: #1c87d9;
}
.dashboard .dashboard-tabs {
  margin-top: 95px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  position: fixed;
  width: 100%;
}
.dashboard .dashboard-tabs .search-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.dashboard .dashboard-tabs .search-tab .no-users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.dashboard .dashboard-tabs .search-tab .no-users p:first-child{
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.dashboard .dashboard-tabs .search-tab .no-users p:last-child {
  font-weight: 700;
  font-size: 18px;
}
.dashboard .dashboard-tabs .search-tab input {
  border-radius: 5px;
  height: 4vh;
  outline: none;
  border: none;
  width: 250px;
}
.dashboard .middle-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.dashboard .middle-tabs .dropzone {
  border: none;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 5px 10px;
}
.dashboard .middle-tabs button {
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  background-color: whitesmoke;
}
.dashboard .middle-tabs button:hover{
  background-color: #38B6FF;
}
.dashboard .middle-tabs .button-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.dashboard .dashboard-tabs .add-user .add-icon {
  border-radius: 50%;
  border: 3px solid #38B6FF;
  padding:1px 2px;
}
.dashboard .dashboard-tabs .add-user{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}
.dashboard .dashboard-tabs .add-user .add-text p{
  font-weight: 700;
  font-size: 18px;
}
.dashboard .users-table {
  margin-top: 170px;
  padding: 20px;
}
.dashboard .users-table table{
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  overflow-x: auto ;
}

.dashboard .users-table thead {
  background-color:#F1EFEF; 
}

.dashboard .users-table th, 
.dashboard .users-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.dashboard .users-table td:first-child{
  border-left: none;
}

.dashboard .users-table tr:hover {
  background-color: #f9f9f9;
}
.dashboard .users-table td button {
  background-color: #38b6ff;
  color: #ffffff;
  padding: 6px 12px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 18px;
}
.dashboard .users-table td button:hover{
  background-color: #1c87d9;
}
.dashboard .users-table input[type="checkbox"].confirm-check {
  width: 20px;
  height: 20px;
  outline: none;
  border: 0.8px solid #1c87d9;
}

/* modal css */

.dashboard .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  height: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.dashboard .close-button {
  background: #f74949;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
}
.dashboard .close-button:hover {
  background-color: #fb0606;
}
.dashboard .modal form {
  display: flex;
  flex-direction: column;
}
.dashboard .modal-content form input,
.dashboard .modal-content form select {
  outline: none;
  border: 0.8px solid #1c87d9;
  height: 3.5vh;
}
.dashboard .modal-content form input[type="checkbox"] {
  height: 22px;
}

.dashboard .modal-content form .checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 20px 
}
.dashboard .modal-content form label {
  font-size: 15px;
  font-weight: 500;
}
.dashboard .modal-content form .modal-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard .modal-content form .modal-button button {
  background-color: #38B6FF;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 3px;
}
.dashboard .modal-content form .modal-button button:hover {
  background-color: #1c87d9;
}
.dashboard .modal-content form span{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5e5e;
  font-size: 12px;
 }

/* register component css */
.register {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;
 
}
.register .header  {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  height: 60px;
  position: fixed;
}
.register .header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.25);
}
.register .header nav a {
  color: black;
  text-decoration: none;
}
.register .header nav h1{
  font-size: 20px;
}
.register .header nav .logo-image {
  width: 300px;
  height: 60px;
}
.register .register-form {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.register .register-form form{
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  margin-bottom: 30px;
  border-radius: 5px;
}
.register .register-form form .form-header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 10px 130px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.register .register-form form .form-elements {
  padding: 10px 130px;
}
.register .register-form form .form-header h1 {
  font-size: 22px;
}
.register .register-form form input[type="text"],
.register .register-form form input[type="email"],
.register .register-form form input[type="tel"]
,.register .register-form form select {
  height: 3.5vh;
  width: 100%;
  /* border-radius: 5px; */
  border: 1px solid #38b6ff;
  outline: none;
  margin-top: 10px;
}
.register .register-form form input[type="checkbox"] {
  border: 1px solid #38b6ff;
  outline: none;
  margin-top: 10px;
  border-radius: 3px;
  padding: 10px;
}
.register-form input:focus,
.register-form select:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 5px #38B6FF;
}
.register .register-form form label {
  margin-top: 4px;
}


/* .register .register-form form .select-checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.register .register-form form .checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 20px 
}
.register .register-form form .checkbox-label input {
  transform: scale(1.4);
}

.register .register-form form .checkbox-label input[type='checkbox'] {
  margin-right: 10px;
}
.register .register-form form .register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
}
.register .register-form form button {
  margin-top: 10px;
  border-radius: 3px;
  background-color: #38b6ff;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
.register .register-form form button:hover {
  background-color: #1c87d9;
}
.register .register-form form button:active {
  transform: translateY(2px);
}
.register .register-form form span{
 display: flex;
 justify-content: center;
 align-items: center;
 color: #ff5e5e;
 font-size: 12px;
}
.register-form form .form-elements label {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.register-form form .form-elements label span {
  font-size: 20px;
  font-weight: 700;
}
.required-asterisk {
  color: red;
  margin-left: 2px;
}

.required-label::after {
  content: "*";
  color: red;
  font-size: 20px;
}
/* login css */

.login {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.login h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #2980b9;
}

.login button:active {
  background-color: #1abc9c;
}

.login button:focus {
  outline: none;
}

.login button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* home page css */
.home {
  display: flex;
  flex-direction: column;
  
  /* background-color: whitesmoke; */
}
.home .home-header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  animation: fadeIn 1s ease-in-out;
}
.home .home-header nav .logo-image{
  height: 60px;
  width: 350px;
}
.home .home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out;
}
.home .home-info h1{
  font-size: 25px;
  font-weight:450;
}
.home .home-info .home-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
 
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home .home-info p{
  padding: 20px;
  color: black;
  background-color: whitesmoke;
  border: 1px solid #ccc;
  line-height: 1.8;
  font-size: 18px;
  animation: fadeIn 1.5s ease-in-out;
  font-weight: 500;
}
.home .home-info-text p {
  margin-bottom: 20px;
}
.home .home-info-text p:hover {
  background-color: white; 
  transition: background-color 0.3s ease; 
}
.home .event-header{
  margin-top: 70px;
  
}
.home .event-header h2{
  margin-left: 40px;
  font-size: 20px;
  color: #38B6FF;
  animation: fadeIn 1.8s ease-in-out;
}
.home .event-info {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightgray;
  animation: fadeIn 2s ease-in-out;
}
.home .event-info p {
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.home .event-info .event-date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.home .event-info .register-button button{
  padding: 18px 15px;
  background-color: #38b6ff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 3px;
}

.home .event-info .register-button button:hover {
  background-color: #1c87d9;
}

/* registration feedback css */

.submit-message {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.submit-message .feedback-message {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  animation: fadeIn 1s forwards;
}
.submit-message .feedback-message h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
  color: #38b6ff;
}
.submit-message .feedback-message p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* admin page css */
.admin-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.admin-page label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.admin-page textarea,
.admin-page input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-page button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.admin-page button:hover {
  background-color: #0056b3;
}

.admin-page button:active {
  background-color: #004080;
}


